---
import { ViewTransitions } from "astro:transitions";
export const prerender = true;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ViewTransitions />
    <style is:global>
      body {
        background: black;
        color: white;
      }
    </style></head
  >

  <body>
    <div class="m-20">
      <header>
        <h1 class="text-3xl mb-6">Cms demo</h1>
      </header>
      <nav>
        <ul class="text-xl flex gap-8">
          {
            "island,alpine,qwik".split(",").map((item) => (
              <li>
                <a
                  href={`/${item}`}
                  class=" px-4 py-2 border border-white rounded-xl"
                >
                  {item}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </body>
</html>
