---
import { ViewTransitions } from 'astro:transitions';
import Switcher from '../astro-sb/switcher.astro';
import page from '../page.json';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Demo</title>
    <ViewTransitions />
    <style is:global>
      body {
        background: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <header class="flex justify-between px-8 py-2">
      <a href="/" class="text-2xl font-bold"> Astro Demo</a>
      <a href="#" class="font-mono"> Profile</a>
    </header>
    <main>
      <Switcher blok={page} />
    </main>
    <footer>
      <p>This is using Astro components w React islands</p>
    </footer>
  </body>
</html>
