---
import Switcher from "../astro-sb/switcher.astro";
import StoryblokClient from "storyblok-js-client";

const storyblok = new StoryblokClient({
  accessToken: "W1vLyxT5rQ15jBpANjnv0gtt",
});

const resp = await storyblok.get("cdn/stories/home", {
  version: "draft",
});
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Demo</title>
  </head>
  <style is:global>
    body {
      background: black;
      color: white;
    }
  </style>
  <body>
    <header class="flex justify-between px-8 py-2">
      <a href="/" class="text-2xl font-bold"> Astro Demo</a>
      <a href="#" class="font-mono"> Profile</a>
    </header>
    <main>
      <Switcher blok={resp.data.story.content} />
      <p>This is using Astro components w React islands</p>
    </main>
  </body>
</html>
