---
import { ViewTransitions } from "astro:transitions";
import Switcher from "../storyblok/switcher.astro";
import page from "../page.json";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Demo</title>
    <ViewTransitions />
    <style is:global>
      body {
        background: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <Switcher blok={page} />
  </body>
</html>
