---
import { Switcher } from "../qwik/qwik";
import StoryblokClient from "storyblok-js-client";

const storyblok = new StoryblokClient({
  accessToken: "W1vLyxT5rQ15jBpANjnv0gtt",
});

const resp = await storyblok.get("cdn/stories/home", {
  version: "draft",
});
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Qwik Demo</title>
  </head>
  <style is:global>
    body {
      background: black;
      color: white;
    }
  </style>
  <body>
    <Switcher blok={resp.data.story.content} />
  </body>
</html>
