---
// import Switcher from "./switcher.astro";

interface Props {
  blok: {
    component: string;
    [field: string]: any;
  };
}

const { blok } = Astro.props;
---

<div class="feature rounded-xl bg-white text-black p-6">
  <h2 class="text-2xl font-bold mb-2">Feature</h2>
  <p class="italic">{blok.name}</p>
</div>
