---
interface Props {
  blok: {
    component: string;
    [field: string]: any;
  };
}

const { blok } = Astro.props;
---

<div class="teaser" x-data="{show:false}">
  <h1
    class="h-[min(50vh,800px)] font-bold flex flex-col items-center justify-center"
  >
    <span class="text-4xl block underline pr-4 mb-4">TEASER</span>
    <div class="flex flex-col items-center">
      <button @click="show = !show" x-text="show ? 'hide' : 'reveal'"> </button>
      <div class="hidden" :style="`display: ${show ? 'block' : 'none'}`">
        <span class="text-xs font-normal leading-none">{blok.headline}</span>
      </div>
    </div>
  </h1>
</div>
