---
import RTeaser from "../react/teaser";

interface Props {
  blok: {
    component: string;
    [field: string]: any;
  };
}

const { blok } = Astro.props;
---

<div class="teaser">
  <h1
    class="h-[min(50vh,800px)] font-bold flex flex-col items-center justify-center"
  >
    <span class="text-4xl block underline pr-4 mb-4">TEASER</span>
    <RTeaser client:idle>
      <span class="text-xs font-normal leading-none absolute"
        >{blok.headline}</span
      >
    </RTeaser>
  </h1>
</div>
