---
import Switcher from "./switcher.astro";

type Blok = {
  component: string;
  [field: string]: any;
};
interface Props {
  blok: Blok;
}

const { blok } = Astro.props;
---

<section>
  <div class="px-6 max-w-[1400px] mx-auto mb-8">
    <span>Carousel item : COUNT</span>
    <button
      id="nextbutton"
      class="ml-8 bg-white text-black rounded-md px-2 py-1"
    >
      Next
    </button>
  </div>
  <div
    class="px-6 grid grid-cols-[repeat(auto-fit,minmax(400px,1fr))] gap-6 max-w-[1400px] mx-auto carousel"
    id="carouselref"
  >
    {blok.columns.map((bl: Blok) => <Switcher blok={bl} />)}
  </div>
</section>

<script is:inline>
let count = 0;

window.nextbutton.onclick = () => {
  count = (count + 1) % 3;
  const el = window.carouselref.children[count];
  console.log(` Next => ${count} `, el);
};
</script>
